.mission-card {
  background-color: rgba(128,128,128,0.3);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-title-container {
  border-top: 2px solid white;
  padding-top: 5px;
  color: white;
}

.card-image {
  width: 230px;
}

@media (max-width: 550px) {
  .card-image {
    max-width: 60vw;
  }
}
