.nav-bar-container {
  height: 14vh;
  background-color: #272727;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr 1fr);
}

.search-bar {
  grid-column-start: span 2;
  height: 7vh
}

@media (min-width: 550px) {
  .nav-bar-container { grid-template-columns: 1fr 1fr 2fr; grid-template-rows: 1fr; }
  .search-bar {
    background-color: yellow;
    grid-column-start:3;
    grid-column-end: 4;
    height: 14vh
  }
  .mission-button {grid-column-start: 1; grid-row-start: 1; height: stretch;}
  .upcoming-button {grid-column-start: 2; grid-row-start: 1; height: stretch;}
}

button {
  height: 7vh;
  width: -webkit-fill-available;
  background-color: rgba(128,128,128,0.3);
  font-weight: 600;
  font-size: 3vw;
  color: white;
  margin: 0px 0px;
  padding: 0px 0px;
  border: 0px solid transparent;
  outline: 0;
}

.active {
  background-color: white;
  color: black;

}

.active:hover{
}

.notActive {
  background-color: rgba(128,128,128,0.3);
  transition: background-color, 0.5s
}

.notActive:hover {
  background-color: white;
  color: black;
  transition: background-color, 0.2s, color, 0.2s;
  transition-timing-function: ease-in;

}
