.search-bar-container {
  height: stretch;
}
.search-container {
  height: 100%;
}

.search-input {
  height: 7vh;
  width: stretch;
}


@media (min-width: 550px) {
  .search-input {height: 14vh; font-size: 7vh}
}
