.view-window-container {
  background-color: black;
  height: 80vh;
  padding-top: 3vh;
  padding-bottom: 2vh;

}

.view-display {
  overflow-y: scroll;
{/*-webkit-overflow-scrolling: touch;*/}
  background-color: rgba(128,128,128,0.3);
  border: 1px solid white;
  border-radius: 1rem;
  height: 100%;
  margin:0vh 5vw;
  font-size: 5rem;
}
